<div class="row">
  <div class="col-lg-10 col-xl-9 mx-auto">
    <div class="card card-signin flex-row my-5 gym-round" id='form-signin'>
      <div class="card-img-left d-none d-md-flex">
        
          <!-- Background image for card set in CSS! -->
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Register</h5>
        <%= form_with(model: user, local: true, class: 'form-signin') do |form| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-label-group">
            <%= form.text_field :firstname, class: 'form-control', placeholder: 'Username', required: true, autofocus: true %>
            <%= form.label :firstname, 'First Name' %>
          </div>

          <div class="form-label-group">
            <%= form.text_field :lastname, class: 'form-control', placeholder: 'lastname', required: true %>
            <%= form.label :lastname, 'Last Name' %>
          </div>

          <div class="form-label-group">
            <%= form.text_field :email, class: 'form-control', placeholder: 'Email Address', required: true %>
            <%= form.label :email, 'Email' %>
          </div>

          <div class="form-label-group">
            <%= form.password_field :password_digest, class: 'form-control', placeholder: 'password', required: true %>
            <%= form.label :password_digest, 'Password' %>
          </div>

          <div class="form-label-group">
          <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Password', required: true %>
          <%= form.label :password_confirmation, 'Confirm password' %>
        </div>
        
          <div class="actions">
            <%= form.submit 'Register', class: 'btn btn-lg btn-primary btn-block text-uppercas' %>
            
            
          </div>
          <hr class="my-4">

          <%
=begin%>
sign in with google and facebook buttons 
<%
=end%>
            <%
=begin%>
<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button> 
<%
=end%>
            <%
=begin%>
<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button> 
<%
=end%>
          <% end %>
        </div>
  </div>
</div>
