<div id="toppage">
<%=image_tag("loladominguez1.png", height: '280', width: '290', :class => "avatar gravatar2")%>


 <%
=begin%>
 <%= gravatar_for @user, :class => "avatar"%> 
<%
=end%>
</div>
<section class="search-box">
  <div class="container-fluid" id="usercontainer">
    <div class="row">
      <div class="col-md-12 listing-block">

          <div class="mediacal" >
            <div class="user-label">
              <h1>

                <strong><%= @user.firstname %> <%= @user.lastname %></strong>
              </h1>
              <%= link_to 'Settings', edit_user_path(@user) %>
            </div>
          </div>
          <div class=" mx-0 px-0 calbox">
            <div class="contain-user">
              <div class="usersaved">
                <h3>Upcoming Classes</h3>
                  <ul>
                    <% @user.events.each do |event| %>
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title"><%= event.name %></h5>
                        <p class="card-text"><%= event.event_start.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      </div>
                    </div>

                    <% end %>
                  </ul>
              </div>
              <div class="usersaved">
              <h3>Favorite Gyms</h3>
              <div id="cardholder">
                  <% @user.gyms.each do |gym| %>
                  <div class="card" style="width: 18rem;">
                    <%= image_tag Gym::IMGS[0], class: 'card-img-top' %>
                    <div class="card-body">
                      <h5 class="card-title"><%= link_to gym.name, gym %></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">See classes available</a>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
