<header>
<iframe width="1280" height="720" src="https://www.youtube.com/embed/9VlfxuMJxTw?autoplay=1&loop=1&mute=1&%color=white&iv_load_policy=3&playlist=9VlfxuMJxTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
     <h1 class="display-3">Book your class today!</h1>
    </div>
</header>
<section class="search-box" id="singlegymcontainer">
  <div class="container-fluid" id="calendargymcontainer" >
    <div class="row">
      <div class="col-md-12 listing-block" id="gymshowcontainer">
        <div id="gym-show">
          <div class="mediacal container" >
            <div class="gym-label">
              <h1><%= @gym.name %></h1>
              <%= image_tag Gym::IMGS.sample, width:"300px" %>
            </div>
            <p>
              <strong>Address:</strong>
              <%= @gym.address %>
            </p>
            <p>
              <strong>Phone number:</strong>
              <%= @gym.phone_number %>
            </p>
            <p>
              $ <%= @gym.price_in_cents %>
            </p>
            <% if current_user %>
              <% if @fave %>
                <%= link_to "Remove from Favorites", favorite_path(id: @fave.id), method: 'delete', class: "btn btn-primary gym-show-button" %>
              <% else %>
                <%= link_to 'Add to Favorites', favorites_path(gym_id: @gym.id), method: :post, class: 'btn btn-primary gym-show-button' %>
              <% end %>
            <% end %>
            <%= link_to 'Go Back', request.referer %>
          </div>
          <div class="col-md-7 mx-0 px-0 calbox">
            <%= react_component 'Calendar', props: {gymId: @gym.id}, prerender: false %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
